<html>
	<head>
		<title>Available Covnersations</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script>
function postnew() {
	var c = $('#content').val();
	$.post("/post/new", {content: c}, 
	function(data, status, xhr) {
		//
	})
	.error(function(xhr, status, error) {
		$('#posterror').text(status+'\n'+error);
	});
}
		</script>
		<style>
#posterror {
	display: none;
	background: red;
}
		</style>
	</head>
	<body>
		<ul>
		{% for conv in conversations %}
			<li><a href="{{ conv.get_absolute_url }}">{{ conv }}</a></li>
		{% endfor %}
		</ul>
		<fieldset id="newform">
			<legend>New Discussion</legend>
			<div id="posterror"></div>
			<div><textarea id="content"></textarea></div>
			<div><button onclick="postnew()">Create New</button></div>
		</fieldset>
	</body>
</html>