<html>
	<head>
		<title>Welcome to cmmntr</title>
		<style>
#bookmarklet {
	display: block;
	background: silver;
	width: 10em;
	height: 1em;
	padding: 1em;
	text-align: center;
	border-radius: 0.5em;
	color: black;
	text-decoration: none;
}
		</style>
	</head>
	<body>
		<h1>Welcome to commntr!</h1>
		<p>Use the following bookmarklet to get started:</p>
		<a id="bookmarklet" href="javascript:window.open('http://c.astro73.com/list?url='+document.location,'cmmntr', 'width=300,height=300')">cmmntr</a>
	</body>
</html>
